# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [8]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [5]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

FileNotFoundError: [Errno 2] No such file or directory: 'data/world_bank_projects_less.json'

In [10]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## JSON- Q1.Solution

In [52]:
import json
from pandas.io.json import json_normalize

In [53]:
#Load JSON file as Pandas DataFrames

df = pd.read_json("/Users/sheikita/Desktop/data/data_wrangling_json/data/world_bank_projects.json", 'r')

In [54]:
#Print Top 5 from df DataFrame
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [55]:
#Display all the columns in the dataframe
df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [56]:
#Display Shape 
df.shape

(500, 50)

In [57]:
#Validate Data type
type(df)

pandas.core.frame.DataFrame

In [58]:
#Subset df based on certain variables and assign it to df_new
df_new = df[['_id', 'countryname', 'countrycode','projectstatusdisplay']]

In [65]:
#Diplay first 5 rows of subset df_new
df_new.head()

,_id,countryname,countrycode,projectstatusdisplay
0,{'$oid': '52b213b38594d8a2be17c780'},Federal Democratic Republic of Ethiopia,ET,Active
1,{'$oid': '52b213b38594d8a2be17c781'},Republic of Tunisia,TN,Active
2,{'$oid': '52b213b38594d8a2be17c782'},Tuvalu,TV,Active
3,{'$oid': '52b213b38594d8a2be17c783'},Republic of Yemen,RY,Active
4,{'$oid': '52b213b38594d8a2be17c784'},Kingdom of Lesotho,LS,Active

In [59]:
#Assign index to subset df_new
df_new.set_index('countryname')

,_id,countrycode,projectstatusdisplay
countryname,,,
Federal Democratic Republic of Ethiopia,{'$oid': '52b213b38594d8a2be17c780'},ET,Active
Republic of Tunisia,{'$oid': '52b213b38594d8a2be17c781'},TN,Active
Tuvalu,{'$oid': '52b213b38594d8a2be17c782'},TV,Active
Republic of Yemen,{'$oid': '52b213b38594d8a2be17c783'},RY,Active
Kingdom of Lesotho,{'$oid': '52b213b38594d8a2be17c784'},LS,Active
Republic of Kenya,{'$oid': '52b213b38594d8a2be17c785'},KE,Active
Republic of India,{'$oid': '52b213b38594d8a2be17c786'},IN,Active
People's Republic of China,{'$oid': '52b213b38594d8a2be17c787'},CN,Active
Republic of India,{'$oid': '52b213b38594d8a2be17c788'},IN,Active
Kingdom of Morocco,{'$oid': '52b213b38594d8a2be17c789'},MA,Active
Republic of South Sudan,{'$oid': '52b213b38594d8a2be17c78a'},SS,Active
Republic of India,{'$oid': '52b213b38594d8a2be17c78b'},IN,Active
Republic of Ghana,{'$oid': '52b213b38594d8a2be17c78c'},GH,Active
Democratic Republic of Timor-Leste,{'$oid': '52b213b38594d8a2be17c78d'},TP,Active
Hashemite Kingdom of Jordan,{'$oid': '52b213b38594d8a2be17c78e'},JO,Active
Samoa,{'$oid': '52b213b38594d8a2be17c78f'},WS,Active
Samoa,{'$oid': '52b213b38594d8a2be17c790'},WS,Active
Republic of Madagascar,{'$oid': '52b213b38594d8a2be17c791'},MG,Active
Kingdom of Cambodia,{'$oid': '52b213b38594d8a2be17c792'},KH,Active
Kingdom of Morocco,{'$oid': '52b213b38594d8a2be17c793'},MA,Active
Kyrgyz Republic,{'$oid': '52b213b38594d8a2be17c794'},KG,Active
Nepal,{'$oid': '52b213b38594d8a2be17c795'},NP,Active
Hashemite Kingdom of Jordan,{'$oid': '52b213b38594d8a2be17c796'},JO,Active
Republic of Tajikistan,{'$oid': '52b213b38594d8a2be17c797'},TJ,Active
Republic of Azerbaijan,{'$oid': '52b213b38594d8a2be17c798'},AZ,Active
East Asia and Pacific,{'$oid': '52b213b38594d8a2be17c799'},4E,Active
Lao People's Democratic Republic,{'$oid': '52b213b38594d8a2be17c79a'},LA,Closed
Pacific Islands,{'$oid': '52b213b38594d8a2be17c79b'},4P,Active
Solomon Islands,{'$oid': '52b213b38594d8a2be17c79c'},SB,Active
Republic of Mozambique,{'$oid': '52b213b38594d8a2be17c79d'},MZ,Active
...,...,...,...
Republic of Liberia,{'$oid': '52b213b38594d8a2be17c956'},LR,Active
People's Republic of Bangladesh,{'$oid': '52b213b38594d8a2be17c957'},BD,Active
Republic of Armenia,{'$oid': '52b213b38594d8a2be17c958'},AM,Active
Republic of Albania,{'$oid': '52b213b38594d8a2be17c959'},AL,Active
Islamic Republic of Pakistan,{'$oid': '52b213b38594d8a2be17c95a'},PK,Active
Republic of Indonesia,{'$oid': '52b213b38594d8a2be17c95b'},ID,Active
Socialist Republic of Vietnam,{'$oid': '52b213b38594d8a2be17c95c'},VN,Active
Republic of Uzbekistan,{'$oid': '52b213b38594d8a2be17c95d'},UZ,Active
Islamic Republic of Pakistan,{'$oid': '52b213b38594d8a2be17c95e'},PK,Active
Republic of Guatemala,{'$oid': '52b213b38594d8a2be17c95f'},GT,Active
Republic of Zambia,{'$oid': '52b213b38594d8a2be17c960'},ZM,Active
Republic of India,{'$oid': '52b213b38594d8a2be17c961'},IN,Active
Republic of India,{'$oid': '52b213b38594d8a2be17c962'},IN,Active
Republic of India,{'$oid': '52b213b38594d8a2be17c963'},IN,Closed
Republic of the Philippines,{'$oid': '52b213b38594d8a2be17c964'},PH,Active
Mongolia,{'$oid': '52b213b38594d8a2be17c965'},MN,Active
Middle East and North Africa,{'$oid': '52b213b38594d8a2be17c966'},5M,Active
United Mexican States,{'$oid': '52b213b38594d8a2be17c967'},MX,Active
Federative Republic of Brazil,{'$oid': '52b213b38594d8a2be17c968'},BR,Closed
The Independent State of Papua New Guine,{'$oid': '52b213b38594d8a2be17c969'},PG,Closed
Nepal,{'$oid': '52b213b38594d8a2be17c96a'},NP,Active
West Bank and Gaza,{'$oid': '52b213b38594d8a2be17c96b'},GZ,Active
Islamic Republic of Pakistan,{'$oid': '52b213b38594d8a2be17c96c'},PK,Active
People's Republic of Bangladesh,{'$oid': '52b213b38594d8a2be17c96d'},BD,Active
Nepal,{'$oid': '52b213b38594d8a2be17c96e'},NP,Active
Jamaica,{'$oid': '52b213b38594d8a2be17c96f'},JM,Closed
Lao People's Democratic Republic,{'$oid': '52b213b38594d8a2be17c970'},LA,Closed
Republic of Guinea,{'$oid': '52b213b38594d8a2be17c971'},GN,Active
Republic of Indonesia,{'$oid': '52b213b38594d8a2be17c972'},ID,Active
Republic of Kenya,{'$oid': '52b213b38594d8a2be17c973'},KE,Active

In [61]:
#Group df_new by countryname & count on projectstatusdisplay. Assign to df_unique
df_unique = df_new.groupby('countryname')['countrycode','projectstatusdisplay'].count()

In [64]:
#Display top 10 countries with most project

print('Top 10 countries with most projects')
df_unique.sort_values('projectstatusdisplay', ascending=False).head(10)

Top 10 countries with most projects

                                 countrycode  projectstatusdisplay
countryname
People's Republic of China                19                    19
Republic of Indonesia                     19                    19
Socialist Republic of Vietnam             17                    17
Republic of India                         16                    16
Republic of Yemen                         13                    13
People's Republic of Bangladesh           12                    12
Nepal                                     12                    12
Kingdom of Morocco                        12                    12
Republic of Mozambique                    11                    11
Africa                                    11                    11

## JSON - Q2.Solution
Normalization

In [79]:
from pandas.io.json import json_normalize

In [84]:
#Load JSON file and assign it to j_data

with open('/Users/sheikita/Desktop/data/data_wrangling_json/data/world_bank_projects.json', 'r') as json_file:
    j_data = json.load(json_file)

In [86]:
#Normalize variable 'mjtheme_namecode' and assign it to normal
normal = json_normalize(j_data, 'mjtheme_namecode')

In [89]:
#Display top 5 records
normal.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [92]:
#Display the top 10 themes

print('Top 10 Major Themes:')
normal['name'].value_counts().head(10)

Top 10 Major Themes:

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

# JSON - Q3.Solution
Filling the missing names at for variable 'mjtheme_namecode'

In [143]:
#Normalize variable 'mjtheme_namecode' and assign it nor_fill
nor_fill = json_normalize(j_data, 'mjtheme_namecode')

In [145]:
#Create a dict to map code to name 
code_dict = {}

for row in nor_fill.itertuples():
    if row[2] != '':
        code_dict[row[1]] = row[2]

In [146]:
#Verify that codes are mapped
print(code_dict)

{'8': 'Human development', '1': 'Economic management', '6': 'Social protection and risk management', '5': 'Trade and integration', '2': 'Public sector governance', '11': 'Environment and natural resources management', '7': 'Social dev/gender/inclusion', '4': 'Financial and private sector development', '10': 'Rural development', '9': 'Urban development', '3': 'Rule of law'}

In [153]:
#Fill the missing values 

for row in nor_fill.itertuples():
    if row[2] == '':
        nor_fill.get(row[0], 'name', code_dict[row[1]])

In [154]:
#Validate assignment of missing value for code 11
nor_fill.head()

  code                                          name
0    8                             Human development
1   11  Environment and natural resources management
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration

In [158]:
print('Top 10 themes')
nor_fill.name.value_counts().head(10)

Top 10 themes

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64

In [156]:
#Quick validation
nor_fill.info

<bound method DataFrame.info of      code                                          name
0       8                             Human development
1      11  Environment and natural resources management
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6         Social protection and risk management
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8                             Human development
18     10                             Rural development
19      7                   Social dev/gender/inclusion
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2                      Public sector governance
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4      Financial and private sector development
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11  Environment and natural resources management
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5                         Trade and integration
1482    6         Social protection and risk management
1483    8                             Human development
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6         Social protection and risk management
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]>